.real-chessboard {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 700px;
    height: 700px;
    border-top: 1px solid #000;
    background-color: #f5ad45;
    z-index: 1;
}

.real-chessboard li {
    border: 1px solid #000;
    border-width: 0 1px 1px 0;
}

.real-chessboard li:nth-child(14n-13) {
    border-left-width: 1px;
}